@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');



* {
  font-family: 'PT Serif', serif;
}
body {
  background-image: url(./images/body/family-2923690_1920.jpg);

}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  background-color: rgb(175, 173, 168);
  margin: 5px;
  border-radius: 5%;
  border: 1px solid  rgb(223, 215, 194);
}
input:focus {
  background-color:  rgb(223, 221, 217);
}

select {
  background-color: rgb(175, 173, 168);
}

select:focus {
  background-color:  rgb(223, 221, 217);
}

textarea {
  background-color: rgb(175, 173, 168);
  width: 70%;
  height: 60px;
  border-radius: 5%;
  border: 1px solid  rgb(223, 215, 194);
}

button {
  background-color: rgb(99, 97, 92);
  height: 30px;
  margin: 5px;
  border: 1px solid rgb(153, 112, 7);;
  border-radius: 10%;
}
button:hover {
  background-color: rgb(175, 173, 168);
}

textarea:focus {
  background-color:  rgb(223, 221, 217);
}

.createDishForm {
  background-color: rgb(146, 143, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.createDishForm span {
  font-size: 12px;
}
.createDishForm h4 {
  margin: 5px;
}

.createDishForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createDishForm form input {
  width: 100%;
}

.mainInput {
  width: 70%;
  height: 25px;
}

.toIngr {
  border-bottom: 2px solid rgb(99, 97, 92);
}
.oneIngrForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(99, 97, 92);
}

.oneIngrForm span {
  margin: 5px;
}

.spaceBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
